@media (min-width: 560px) {
  .sub-header.flex h1 { flex-basis: 80%; }
 /* .schedule dt .icon-slide {margin-top: -7px;}*/

  /* 경기 기록실 메뉴 */
  .record-menu .big-cat .btn.on:after {left: 47%;}
  /* 훈련일지 */
  .sub.strength .input-group.date {width: 78%;}
  .strength .navyline-top-list select {width:85%;}
  .sub.strength .input-group.date input {width: 76%;}
  
  /* 나의 통계 > 부상정보 */
  /*.dist-cont .table_01 .body-img {top: -13px;}
  .dist-cont .table_02 .body-img {top: -13px;}*/

  /* 메모리 > 지도자상담 모아보기 > 훈련일지 */
  .good-list a p {width: 480px;}

  /*경기기록실 > 순위 > 메달합계*/
  .medal-rank .rank-tb th img,.medal-total .rank-tb th img {width: 35%; margin-top:-5px;}

  /*훈련일지*/
  .strength .navyline-top-list select#condition {width:85%;}/* 컨디션 select */
  .strength .navyline-top-list select {width:87%;}
  /* 훈련일지 부상 입력 */
  .ipt-injury .dist-cont .table_01 .body-img {top: -13px;}


  /*단체정보*/
  .sub.srch-list li:last-child {border: none; width: 25.5%; }

  /* 대진표 > 대진표 보기 > select-list */
  .tourney-mode {width: 560px; height:auto;}

}

