.main.lesson {margin-top: 10px;}
.main.lesson .sel_wr {margin-top: 12px;}

.main.lesson .court_add {margin-top: 10px;}
.main.lesson .court_add h3 {margin-bottom: 10px;}
.main.lesson section input[type=checkbox] {width: 24px;height: 24px;}