h1,h2,h3,h4,h5,h6 {
  font-family: 'NotoKR-md';
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p,span,a,ul,li,ol,dl,dt,dd,pre,label,input,table,caption,th,td,select,textarea {
  font-family: 'NotoKR';
}

p {
  font-size: 14px;
  line-height: 150%;
  color: #333;
}

em {
  font-size: 15px;
}

a {
  display: block;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #039be5;
  text-decoration: none;
}

a:hover,a:focus,a:active {
  color: #039be5;
  text-decoration: none;
}

li {
  list-style: none;
  color: #333;
  letter-spacing: -0.024em;
  line-height: 150%;
}

ol li {
  list-style: inherit;
}

ol {
  padding-left: 15px;
}

.boldy {
  font-weight: bold;
}

.hypery {
  color: #039be5;
}

.btn_normal.hover {
  background-color: #78909c;
  color: #fff;
}

.btn_normal {
  font-family: 'NotoKR-md';
  text-align: center;
  color: #455a64;
  border: 2px solid #455a64;
  border-radius: 4px;
  width: 87px;
  height: 36px;
  line-height: 36px;
  -webkit-transition: all 0.3s cubic-bezier(0.66, 0.01, 0, 1);
  transition: all 0.3s cubic-bezier(0.66, 0.01, 0, 1);
}

.btn_normal:hover {
  background-color: #78909c;
  color: #fff;
  border: 2px solid transparent;
}

.btn_normal:active {
  background-color: #455a64;
  color: #fff;
  border: 2px solid transparent;
}

.btn_disabled {
  background-color: #dddddd;
  border-radius: 4px;
  color: #000;
  width: 87px;
  height: 36px;
  line-height: 36px;
}

.btn_disabled:hover,.btn_disabled:focus,.btn_disabled:active {
  color: #000;
}

a.btn_normal.on {
  color: #039be5;
  border: 2px solid #4fc3f7;
  -webkit-transition: all 0.3s cubic-bezier(0.66, 0.01, 0, 1);
  transition: all 0.3s cubic-bezier(0.66, 0.01, 0, 1);
}

a.btn_normal.on:hover {
  border: 2px solid transparent;
  background-color: #4fc3f7;
  color: #fff;
  -webkit-box-shadow: 0px 2px 8px gray;
  box-shadow: 0px 2px 8px gray;
}

a.btn_normal.on:active {
  background-color: #039be5;
  color: #fff;
}

.btn_lg {
  width: 280px;
  height: 60px;
  line-height: 55px;
  font-size: 17px;
}

.btn_md {
  width: 220px;
  height: 50px;
  line-height: 45px;
  font-size: 15px;
}

.btn_sm {
  width: 140px;
  height: 40px;
  line-height: 35px;
  font-size: 15px;
}

.list {
  border-top: 1px solid #c8c7cc;
}

.list li {
  border-bottom: 1px solid #c8c7cc;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list li:last-child {
  border-bottom: none;
}

ul,ol,dl {
  /*border-bottom: 1px solid #c8c7cc;*/
}

ol.list li {
  list-style-position: inside;
  margin-left: 15px;
  padding-left: 0;
}

dl.list {
  border: none;
}

dl.list dt {
  font-family: 'NotoKR-md';
  background-color: #f9f9f9;
  height: 25px;
  line-height: 25px;
  padding-left: 15px;
}

dl.list dd {
  border-bottom: 1px solid #c8c7cc;
  padding-top: 12px;
  padding-bottom: 12px;
}

label {
  font-size: 14px;
  color: #333;
}

.form_box {
  width: 305px;
}

input,select {
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 5px;
}

input.disabled {background-color: #f2f2f2;color: #999;}

.srch_box {
  position: relative;
}

.srch_box input {
  padding-left: 32px;
}

.srch_box .ic_deco {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 20px;
  width: 13px;
  height: 13px;
  color: #686871;
}

.srch_box .del {
  position: absolute;
  top: 8px;
  right: 11px;
  font-size: 22px;
  color: #8e8e93;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

textarea {
  border-radius: 4px;
  width: 100%;
  height: 100px;
  resize: none;
}

pre {
  width: 100%;
  height: 100px;
  background-color: #FFF;
  border-radius: 4px;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

.table {
  width: 100%;
}

.table th {
  font-size: 14px;
  text-align: center;
}

.table td {
  font-size: 14px;
}

.table tr:last-child {
  border-bottom: 1px solid #ddd;
}

.sd_table thead th {
  background-color: #aaa;
  color: #fff;
  border-right: 1px solid #ddd;
}

.sd_table thead th:last-child {
  border-right: none;
}

.sd_table tbody td {
  font-size: 14px;
  border-right: 1px solid #ddd;
}

.sd_table tbody td:first-child {
  border-left: 1px solid #ddd;
}

.icon .icon_list a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.left_arrow {
  font-size: 42px;
  width: 18px;
  height: 30px;
  line-height: 30px;
  color: #686871;
}

.left_arrow .fa {
  line-height: 30px;
}

.left_arrow:hover,.left_arrow:focus,.left_arrow:active {
  color: #686871;
}

.left_arrow .ic_deco {
  margin-top: -5px;
}

.menu {
  display: inline-block;
  width: 23px;
  height: 20px;
  line-height: 20px;
}

.nav {
  display: inline-block;
  background-color: #686871;
  position: relative;
  width: 100%;
  height: 4px;
}

.nav:before,.nav:after {
  position: absolute;
  left: 0;
  content: '';
  background-color: #686871;
  width: 100%;
  height: 4px;
}

.nav:before {
  top: -8px;
}

.nav:after {
  top: 8px;
}

.logout {
  width: 44px;
  height: 34px;
}

.logout span {
  display: block;
  font-size: 16px;
  text-align: center;
  color: #333;
  width: 100%;
}

.logout .txt {
  font-size: 12px;
  letter-spacing: -0.04em;
  color: #686871;
}

.fa {
  color: #8e8e93;
}

.glyphicon-star {
  font-size: 25px;
}

.on .glyphicon-star {
  color: #ffb400;
}

.carousel {
  position: relative;
}

.carousel .carousel_btn {
  position: absolute;
  top: 33%;
  width: 100%;
}

.carousel .carousel_btn a {
  position: absolute;
  top: 0;
  font-size: 36px;
}

.carousel .carousel_btn a.prev {
  left: 5px;
}

.carousel .carousel_btn a.next {
  right: 5px;
}

.carousel .carousel_btn a .fa {
  color: #fff;
}

.circle {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 10px;
}

.on .circle {
  background-color: #FFF;
  border: 2px solid transparent;
  width: 20px;
  border-radius: 6px;
}

.carousel .indicator {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.carousel .indicator .bullet_list {
  display: inline-block;
}

/*# sourceMappingURL=maps/guide.css.map */
