.stat-chart .chart-title h3 {font-family: 'NanumGothicB'; font-size: 0.95em; line-height: 20px; text-align: center; color: #333; border-radius: 20px; padding-top: 10px; padding-left:15px; padding-right:15px; /* padding-bottom: 10px; */margin: 0 auto; /*margin-bottom: 15px;*/}
.stat-chart .chart-title dl {padding-left: 20px;}
.stat-chart .chart-title dt,
.stat-chart .chart-title dd {float: left;}
.stat-chart .chart-title dt {font-size: .86em; font-weight: bold; width: 95px; text-align: left;}
.stat-chart .chart-title dd {position: relative; font-size: .86em; font-weight: bold; padding-left: 15px;}
.stat-chart .chart-title dd:before {position: absolute; top: 3px; left: 0; content: ''; width: 2px; height: 14px; background-color: #999;}
.stat-chart .chart-title dd .redy {color: #b70000;}
.stat-chart .chart-title dd small {font-size: 0.85em;}
.stat-chart #chart-container {background:#fff;}
/*.state-cont .stat-chart .chart-title {border-top:1px solid #ccc;}*/
.stat-chart .point-table {background:#e3e6eb;}
.stat-chart.train-place .table-1.chart-title {border-top:0; padding-top:0;}
.point-table.no-border {border:none;}
.train-place .no-border > .chart-title {padding-top:0; padding-bottom:0; border-top:none;}
.chart-title.rank-title > h3 {display:inline-block; background:#389ae5; padding:2px 15px 3px 15px; border-radius:30x; color:#fff; line-height:26px;}
#iLevelRank {margin-top:10px;}