.weight-in-recoard {padding-bottom:30px; background-color:#edf0f4;}
.weight-in-recoard h3 {position: relative; font-size: 1em; font-weight: bold; line-height: 30px; -webkit-flex: 1; flex: 1; padding-left:10px; margin-left:10px;}
.weight-in-recoard h3:before {position: absolute; top: 6px; left:0px; content: ''; background-color: #123651; width: 4px; height: 17px;}

.match-weight-in {font-weight:bold; font-size:0.8em; margin-bottom:10px; background-color:#fff; border-top:1px solid #999;}
.match-weight-in dt,
.match-weight-in dd {padding:5px 10px; border-bottom:1px solid #ddd;}
.match-weight-in dt {width:100%; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-wrap: normal !important; display: block;}
.match-weight-in dd ul {display:flex;}
.match-weight-in dd ul li:last-child {padding-left:10px;}
.match-weight-in dd ul li .ic-gray {padding:3px 10px; color:#fff; border-radius:5px; background-color:#999999;}
.match-weight-in dd ul li .ic-skyblue {padding:3px 10px; color:#fff; border-radius:5px; background-color:#2786cf;}
.match-weight-in dd ul li .ic-orange {padding:3px 10px; color:#fff; border-radius:5px; background-color:#ff7200;}
