/**
 * 햄버거 메뉴
 */
.dim {display: none; position: absolute; top: 0; left: 0; content: ''; z-index: 999; width: 100%; height: 100%; background-color: hsla(0, 0%, 0%, .3); }
.gnb {position: fixed; top: 0; right: -102%; z-index: 1200; font-family:'NotoKR'; font-size: 14px; width: 100%; -webkit-box-shadow: 0px 0px 8px #333; box-shadow: 0px 0px 8px #333; background-color: #fff; overflow-y : scroll; transition: all .4s cubic-bezier(0.51, 0.01, 0.35, 1.0);}
.gnb.on {right: 0px;}
.gnb-icon .id_change {font-size: 20px;}
.gnb .cate-list dl dd a {background-repeat: no-repeat; background-position: center right 6px; -webkit-background-size: 6px; background-size: 6px; margin-right: 5px;}
.gnb .cate-list dd a .menu-txt {position: relative;}
.gnb .cate-list dl dd a .ic-new {font-size: 0.86em; font-weight: bold; right: -22px; width: 18px; height: 18px; line-height: 18px;}
.gnb .gnb-box {position: relative;}
.gnb-header {padding-left: 10px; padding-top: 22px; padding-bottom: 12px;}
.profile {text-align: center; border: 1px solid #ddd; border-radius: 50%; width: 46px; height: 46px; line-height: 46px; /*margin-top:5px; */margin-right: 3%; float: left; overflow: hidden;}
.profile img {min-width: 46px; min-height: 46px; line-height: 46px; margin-left:-1px; margin-top: -3px;}
.welcome {width: 74%; float: left;}
.welcome h2 {display:block; font-family: 'NotoKR'; font-size: 1.1em; line-height: 1; letter-spacing: -.1em; color: #333; padding:15px 0 0; margin: 0;}
.welcome .user_type {font-size: 0.87em;color: #005895; line-height:14px;}
.welcome .user_type .affiliation {display:block;}
/*.gnb-header .gnb-icon {}*/
.gnb-header .gnb-icon a {border-right: none;width: 37px; margin-right: 10px;}
.gnb-header .gnb-icon .id_change {position: relative;border-right: none;width: 24px;padding-right: 0;}
.gnb-icon .id_change .fa {color:#bbb; /*color: #005895;*/ font-size:22px;}
.gnb-icon .ic_mypage {position: relative;top: -3px;}
.gnb-icon .tg_pop {position: absolute; top: 35px; right: 56px;z-index: 2000;display: inline-block;font-family: 'NotoKR';font-size: 0.78em;border-radius: 6px;line-height: 150%;letter-spacing: -0.05em;text-align: center;background-color: #1f6ca2;color: #fff;width: 120px;height: 60px;padding-top: 13px;padding-left: 13px;padding-right: 13px;}
.gnb-icon .tg_pop:before {position: absolute;top: -8px;right: 10px; content: ''; border-top: none;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 8px solid #1f6ca2; /*transition: all .3s ease ;*/}
.gnb-icon .tg_pop.hidden {animation: pop_hidden 4s;}


@keyframes pop_hidden {
  from {background: #fff;}
  to {background: #f00;}
}


.welcome h2 span {font-size: 1.3em; /*color:#fff;*/ color: #333;}
.welcome a {display: inline-block; border: 2px solid #82c1f4; border-radius: 20px; font-size: 11px; text-align: center; color: #82c1f4; padding: 0 0.8em; }
.welcome .login {background-color: transparent;}
.gnb-icon {position: absolute; top: 30px; right: 10px;}
.gnb-icon a {border-right: 2px solid #517390; width: 35px; padding-right: 9px; margin-right: 9px; float: left;}
.gnb-icon a:last-child {border-right: none; margin-right: 0;}
.gnb-icon a img {vertical-align: middle;}
.gnb-icon .close-btn {background-color: transparent; width: 16px; padding: 0;}
.gnb-header ul {max-width:310px;}
.gnb-header .top_list {margin:55px auto 0;}
.gnb-header .top_list li {float: left; padding:0 14px; text-align: center;}
.gnb-header .top_list li:nth-child(2) a {text-align: right;}
.gnb-header .top_list li:nth-child(3) a {text-align: right;}
.gnb-header .top_list a {font-size: .94em;letter-spacing: -0.025em;color: #333;}
.gnb-header .top_list a span {display: inline-block;vertical-align: middle;}
.gnb-header .top_list a .ic_deco {margin-right: 2px;}

.gnb-icon-list {padding-bottom: 20px;}
.gnb-list h2,
.gnb-icon-list h2 {font-family:'NotoKR-md'; letter-spacing:-0.5px; font-size: 0.96em; background-color: #f2f2f2; color:#333; padding-top: 7px;padding-bottom: 5px;padding-left: 13px;}
.gnb-icon-list ul {margin: 0 auto;padding-top: 15px;}
.gnb-icon-list.list-4 ul {max-width: 280px;}
.gnb-icon-list.list-3 ul {max-width: 240px;}
.gnb-icon-list .img_box {display: block;width: 45px;height: 45px;margin: 0 auto;}
.gnb-icon-list .txt {display: block;font-size: 0.96em;letter-spacing: -0.02em;text-align: center;margin-top: 5px;}

.gnb-list ul {padding-top: 20px;padding-bottom: 20px;padding-left: 15px;padding-right: 15px;}
.gnb-list li {float: left;width: 50%;padding-right: 7%;padding-bottom: 10px;}
.gnb-list li:nth-child(even) {padding-left: 7%;padding-right: 0;}
.gnb-list a {font-size: .90em;letter-spacing: -0.05em;}
.gnb a.btn_not_yet {color: #bbb;}
.gnb-list .r_arr {display: inline-block;vertical-align: middle;width: 8px;float: right;}
.gnb-list .r_arr img {display: inline-block;width: 100%;}

/* navi-list */
.navi-list {background-color: #4f97d5; font-family: 'NanumGothicB'; font-size:15px; border-bottom: 1px solid #69a6db;}
.navi-list li {padding: 8px 10px;}
.navi-list li:nth-child(even) {border-left: 1px solid #69a6db; }
.navi-list li a {position: relative;}
.navi-list li .ic-new {font-size: 0.78em; /*top: 5px; right: 5px;*/ top: 3px; right: -20px; width: 18px; height: 18px; line-height: 18px;}
.navi-list a span {display: inline-block; vertical-align: middle;}
/*.navi-list a span:first-child {width: 24%; margin-right: 5px;}*/
.navi-list a span.img-box {width: 24%; margin-right: 5px;}
.navi-list a span.menu-txt {position: relative; font-size: 0.94em; letter-spacing: -0.075em; color: #fff;}

/* 메뉴 카테고리 리스트 */
.cate-list { background-color: #fff; padding-top: 9px; }
.cate-list dl {margin-top: 8px;}
.cate-list dl:first-child {margin-top: 0; letter-spacing: -1px;}
.cate-list dt {font-size: 0.92em; text-indent: 20px; background-repeat: no-repeat; -webkit-background-size: 15px; background-size: 15px; background-position: 12px 1px; border-bottom: 1px solid #c9c9c9; color: #494277; padding-left: 10px; padding-bottom: 7px;}
.cate-list dd {position: relative; font-size: 0.82em; border-bottom: 1px solid #e6e6e6; width: 50%; box-sizing: border-box; height: 38px; line-height: 38px; padding-left: 10px; float: left;}
/* .cate-list dl:last-child dd:last-child {border-bottom: 0;} */
.cate-list dd:nth-of-type(2n-1) {border-right: 1px solid #e6e6e6;}
.cate-list dd:nth-child(2n+3) {border-right: none;}
.cate-list dd .ic-wrap {position: relative; float: right; margin-right: 22px; top: -80%;}
.cate-list dd .ic-wrap span {position: relative; float: right; margin-left: 5px; width: 18px; height: 18px; line-height: 18px; font-size: 0.86em; font-weight: bold;}
/* .cate-list dd .ic-new {top: 10px; right: 22px;}
.cate-list dd .ic-re {top: 10px; right: 45px;} */

/* gnb footer */
.gnb-footer { text-align: center; background-color: #e6edf4; /*border-top: 1px solid #d8dfe5;*/ padding-top: 24px; padding-bottom: 60px; }
.gnb-footer li {display: inline-block; padding-right: 9px; margin-right: 3px; }
.gnb-footer li.r-bar:after {top: 6px;}
.gnb-footer li.r-bar:last-child:after {background: none;}
.gnb-footer li.r-bar:last-child {margin-right:0; padding-right:0;}
.gnb-footer li a { font-size: 0.75em;}
.gnb-footer h3 {width: 50%; padding-top: 25px; margin: 0 auto;}

.gnb-footer {background-color: #f2f2f2;}
.gnb-footer ul li a {font-size: .86em;letter-spacing: -0.05em;color: #999;line-height: 1;}
.gnb-footer li.r-bar:after {top: 0px;height: 12px;}
.gnb-footer .bot_info {font-family:'NotoKR-dl'; font-size: 0.86em;color: #999;margin-top: 20px; line-height:150%;}
.gnb-footer .bot_info .bluy {color: #005895;}

.gnb .gnb_ctr {position: fixed;bottom: 0;right: -100%;width: 100%;transition: all .4s cubic-bezier(0.51, 0.01, 0.35, 1.0);}
.gnb .gnb_ctr .idx_link {width: 50px;}
.gnb .gnb_ctr .idx_link a {background-color: #00365b;}
.gnb .gnb_ctr .idx_link a img {width: 25px;}
.gnb.on .gnb_ctr {/*max-width: 420px;*/right: 0}
.gnb_ctr li {display: inline-block;border-right: 1px solid #608ead;float: left;width: calc(50% - 25px);}
.gnb_ctr ul li:last-child {border-right: none;}
.gnb_ctr li a {background-color: #005895;display: block;text-align: center;height: 40px; padding-top:8px;}
.gnb_ctr li a img {width: 25px;}


/**
 * S: top-btn 
 */
.tops.btn-div {position: fixed; bottom: 10px; right: 10px; z-index: 1000; font-family: 'NotoKR-md'; font-size: 14px; text-align: center; background-color: #fff; border: 3px solid #164369; border-radius: 50%; width: 40px; height: 40px; line-height: 34px; padding: 0; opacity: 0;}
.tops.btn-div .top_btn {color: #164369; font-size:13px; font-family:'NotoKR-md'; letter-spacing:-0.02em; padding:2px 0 0 1px;}
/* E: top-btn */

/**
 * S: sub-logout 
 */
.sub-logout {line-height: 100%;}
.sub-logout.login-btn .log-out {top: 8px; left: auto; right: 10px;}
.sub-logout .log-out .fa{font-size: 20px;}
.sub-logout .log-out span {font-size: 20px; color: #000;}
.sub-logout .log-out .txt {font-size: 0.78em; font-weight: bold; letter-spacing: -0.05em;}
/* E: sub-logout */