.sub .pay-cancel {background-color: #edf0f4; padding-top: 95px; padding-bottom: 60px;}
.sub .pay-cancel .cancel-msg-2 {font-size: 0.88em; line-height: 150%; text-align: center; color: #666;}
.sub .pay-cancel .cancel-term {font-family: 'NanumGothicB'; font-size: 0.88em; text-align: center; letter-spacing: -0.05em; padding-top: 10px; padding-bottom: 25px;}