.competition_management .table-box{margin-top:10px;}
.competition_management .table-box tr td:nth-child(1){width:60px;}
.competition_management .table-box tr td:nth-child(2){width:210px;}
.competition_management .table-box tr td:nth-child(3){width:100px;}
.competition_management .table-box tr td:nth-child(4){width:500px;}
.competition_management .table-box tr td:nth-child(5){width:200px;}
.competition_management .table-box tr td:nth-child(6){width:180px;}
.competition_management .table-box tr td:nth-child(7){width:120px;}