.tip-cont .list-title {font-size: 0.79em; font-weight: bold; color: #123651; margin-bottom: 6px;}

.muscle-way.power {border-bottom: 1px solid #ddd;padding-bottom: 20px;margin-bottom: 20px;margin-top: 20px;}
.muscle-way .user-guide {font-size: 0.84em; font-weight: bold; color: #ff7200;}