.GameTitlelntl_Write .edit_box{}
.GameTitlelntl_Write .edit_box h2{font-size:18px;font-family: 'NanumGothicB';margin-top:30px;}
.GameTitlelntl_Write .edit_box .text_box{margin-top:10px;}
.GameTitlelntl_Write .edit_box .text_box textarea{height:200px;}
.GameTitlelntl_Write .btn-right-list{text-align:right;margin-top:10px;}
.GameTitlelntl_Write .btn-right-list a{width:80px;}