<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed">
            <error statusCode="500" subStatusCode="100" path="/pub/500-100.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <add value="login.asp" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <staticContent>

        </staticContent>
    </system.webServer>
</configuration>
