/**
 * --------------------------------
 * header
 * --------------------------------
 */
.header {background-color: #354354; padding-top: 3px; padding-bottom:3px;}
.header .row {text-align: center;}
.header > .row {position: relative;}
.header .row > div {display: inline-block;}
.header .row > div:nth-child(2) {position: absolute; top: 4px; left: calc(50% - 70px);}
a.prev-btn {display: inline-block; font-family: 'Noto KR Medium'; font-size: 26px; color: #fff; margin-left: 20px; margin-top: 3px; }
.icon-prev {vertical-align: middle; margin-right: 10px;}
.prev-txt {display: inline-block; vertical-align: middle; font-size: 26px; padding-top: 0px;}

.fa-angle-left {background: #404e5f; /* Old browsers */
background: -moz-linear-gradient(top, #404e5f 0%, #344253 100%); background: -webkit-linear-gradient(top, #404e5f 0%,#344253 100%); background: linear-gradient(to bottom, #404e5f 0%,#344253 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404e5f', endColorstr='#344253',GradientType=0 ); color: #fff; font-size: 22px; font-weight: 900; border: 1px solid #27323f; padding: 8px 14px;}

.logo {font-size: initial; text-align: center; margin: 0; margin-top: 5px;}
.sd-logo {display: inline-block; vertical-align: top; margin-top: 3px; margin-right: 17px;}

a.log-out {display: inline-block; vertical-align: top; color: #fff;}
a.log-out span {display: block;}
a.log-out .icon-logout {padding-top: 3px;}
a.log-out .logout-txt {font-size: 12px;}
.home-link,
a.log-out {display: inline-block; background: #8391a8; 
background: -moz-linear-gradient(top,  #8391a8 0%, #404f5f 3%, #344253 100%); background: -webkit-linear-gradient(top,  #8391a8 0%,#404f5f 3%,#344253 100%); background: linear-gradient(to bottom,  #8391a8 0%,#404f5f 3%,#344253 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8391a8', endColorstr='#344253',GradientType=0 ); border: 1px solid #27323f; border-radius: 4px; width: 72px; height: 39px; margin-top: 5px; margin-right: 20px;}
.home-link {margin-right: 5px;}
.icon-home {display: inline-block;  padding-top: 2px;}
.icon-home .fa {font-size: 36px;}
.fa-home {font-size: 36px; color: #fff; text-shadow: 0px 0px 4px #333;}

/**
 * --------------------------------
 * 경기 스코어 입력 화면
 * --------------------------------
 */
.tourney-img {width: 1280px; margin: 0 auto;}
.a4 {padding-top: 10px;}
/* 상단 dl 부분 - selected-list */
.selected-list {font-family: 'Noto KR Medium'; border-bottom: 1px solid #b0b0b0; height: 64px; margin-bottom: 0; padding:0 0 15px; background:#fff;}
.selected-list dt {overflow:hidden; position: relative; float:left; width:310px; font-size: 18px; font-weight:normal; text-align: left; background-color: #bc3500; color: #ffffff; border-bottom: 1px solid #04101f; display: inline-block; height: 64px; padding-top:8px;}
.selected-list dt p { float:left; padding: 2px 10px 2px 0; margin:0; -webkit-margin:0;}
.selected-list dt p:nth-child(1),
.selected-list dt p:nth-child(4) { padding-left:15px;}
.selected-list dt label { padding:0; font-weight:normal; margin-bottom:0; vertical-align:top; line-height:100%;}
.selected-list dt label span { display:inline-block; margin-top:4px;}
.selected-list dt input { width: 21px; height: 21px; vertical-align:top; line-height:100%; margin:0;}
.selected-list dt label.on {height:22px; background-image: url('../images/tournerment/enter/radio-on.png'); background-repeat: no-repeat; 
-webkit-background-size: 21px 21px; background-size: 21px 21px; vertical-align:top; line-height:100%;}
.selected-list dt .on input {width:0; height:0; margin-right: 21px; clip: rect(0,0,0,0);}

.selected-list dd:nth-child(2) { width:182px; color:#fff; font-weight:normal; font-size:24px; background:#ff4c00; border:none;}
/*.main.enter-group .selected-list dt {width: 424px; height: 64px; line-height: 18px;}*/
.icon-calendar {display: inline-block; background-color: #14151c; border-radius: 5px; height: 28px; vertical-align: middle;}
.fa-calendar {color: #fff; vertical-align: top; padding: 7px 5px;}

.selected-list dd {font-weight: bold; height: 63px; line-height: 63px; vertical-align:top; text-align:center; display: inline-block; color: #333; border-right: 1px solid #b0b0b0; font-size: 16px; text-align: center; width:136px; padding: 0px; margin-left:-3px;}
.score-enter .selected-list dd.long-word {height: 63px; line-height: 63px; padding: 0;}
.score-enter .selected-list dd.long-word span {display: table-cell; vertical-align: middle; text-align: center; width: 370px; height: 64px; line-height: 100%;}
.selected-list .play-title {display: inline-block; border-right: none; width:370px; margin-left:-3px;}
/*.play-type { width:297px;}
.play-weight {width: 135px;}
.play-num {width: 134px;}

.selected-list .player-school {display: inline-block;}
.fa-ellipsis-v {font-size: 26px; vertical-align: middle; color: #000;}
.selected-list dd.player-1, .selected-list dd.player-2 {color: #2e8ebe; border-right: none;}
.selected-list dd.player-1 {width: 395px;}
.selected-list dd.player-2 {width: 335px;}
.selected-list dd.player-1 span, .selected-list dd.player-2 span {font-size: 18px; vertical-align: middle;}
.selected-list .player-school {background-color: #2e8ebe; color: #fff; height: 30px; line-height: 30px; padding-left: 20px; padding-right: 20px; border-radius: 20px;}
.selected-list dd.verse {font-size: 20px; font-weight: 900; color: #ff5400; border-right: none; vertical-align: middle; width: 30px;}
*/

/* 메인 - 버튼 부분 */
.skill-btn {background: none;width: 450px; padding-top: 0; margin:0 15px 0 0; float: right;}
.skill-btn .direction {margin-top: 10px; padding: 0;}
.skill-btn li {float: left;}
.skill-btn li:first-child {margin-right: 6px;}
.skill-btn .direction a {font-size: 18px; font-weight: 600; background-color: #8b8e92; color: #ffffff; border: 1px solid #767b80; border-radius: 5px; width: 222px;}
.skill-btn a.on {background-color: #004ed0; padding-top: 6px; padding-bottom: 6px; }
.skill-btn .tab-img {display: inline-block; margin-right: 10px;}

.skill-group {margin-top: 10px; margin-bottom:10px;}
.skill-group dl {margin-bottom: 18px;}
.skill-group dt {background-color: #eff2f3; color: #000; font-size: 18px; font-weight: 600; color: #ff8400; padding-left: 11px; margin-bottom: 9px;}
.skill-group dd {float: left; width: 150px;}
.skill-group label {vertical-align: top; letter-spacing: -0.12em; margin-bottom: 0px;}
.skill-group input {vertical-align: bottom; width: 21px;height: 21px; margin-right: 2px;}
.skill-group label.on, .who label.on {background-image: url('../images/tournerment/enter/icon-check@3x.png');background-repeat: no-repeat;background-position: 0 center; -webkit-background-size: 21px 21px; background-size: 21px 21px;}
.skill-group label.on input, .who label.on input {width: 0; overflow: hidden; clip: rect(0, 0, 0, 0); margin-right: 23px;}
.skill-group dl.hold-skill {border:3px solid #cdd0d4;}
.skill-group dl.hold-skill dd {margin-left:9px; width:129px;}
.skill-group dl.hold-skill span {color:#ff4c00; font-size:14px;}

.display-board, .match-result {height: auto; float: left;} /* 스코어보드, 경기괄과 공통 */
/* 메인 - 스코어보드 */
.display-board {background-color: #04101f; color: #c6d3e6; width: 806px;}
.display-board .time-table .set-time {margin-bottom: 15px;}
.display-board ul {font-size: 20px; font-weight: 900; padding: 0; /*padding-left: 25px; padding-right: 25px;*/ margin-bottom: 0;}
.display-board ul li {text-align: center; float: left;}
/*.display-board ul[class^="player-"] {border-top: 1px solid #1e2836;}*/
.display-board ul:not(.point-title) li {font-size: 20px; margin-top: 6px; margin-bottom: 6px;}
.display-board li.v-s {color: #c6d3e6;}
.display-board ul span {display: inline-block;}
ul[class^="player-"] .player-name {display: table-cell;font-size: 16px; letter-spacing: -0.05em; border-radius: 10px; line-height: 150%; vertical-align: middle; width: 77px; height: 75px; padding: 0px;}
.display-board .score {position: relative; font-family: 'Noto KR Bold';background: #222e42; background: -moz-linear-gradient(top,  #222e42 0%, #000206 100%);background: -webkit-linear-gradient(top,  #222e42 0%,#000206 100%);background: linear-gradient(to bottom,  #222e42 0%,#000206 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222e42', endColorstr='#000206',GradientType=0 );font-size: 50px; color: #c6d3e6; width: 67px; border: 2px solid #2d3847; border-radius: 10px; padding: 0px 5px;}
.display-board .score:not(.player-name):after {position: absolute; top: 50%; left: 0; content: ''; background-color: #242d3c; width: 100%; height: 2px;}
.display-board .on .score { background: #001150; background: -moz-linear-gradient(top, #001150 0%, #004d8f 100%); background: -webkit-linear-gradient(top, #001150 0%,#004d8f 100%); background: linear-gradient(to bottom, #001150 0%,#004d8f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001150', endColorstr='#004d8f',GradientType=0 ); border: 2px solid #b2ccee;}
.display-board .score.player-name {background: #1d2c3d; border: 2px solid transparent;}
.display-board .on .score.player-name {background: #001150; background: -moz-linear-gradient(top, #001150 0%, #004d8f 100%); background: -webkit-linear-gradient(top, #001150 0%,#004d8f 100%); background: linear-gradient(to bottom, #001150 0%,#004d8f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001150', endColorstr='#004d8f',GradientType=0 ); border: 2px solid #b2ccee;}
.point-display { position:relative;}
.point-display a {display: inline-block;}
/*.player-2-point {border-bottom: 1px solid #1e2836;}*/
.point-display .player-match-option { position:absolute; top:51px; right:0; width:88px; /*height:192px;*/ text-align:center; background:#a4abb3;}
.point-display .player-match-option label.default { margin-top:9px; margin-bottom: 18px; background-image: url('../tourney/images/tournerment/enter/player-match-option_01_off_3x.png'); background-repeat: no-repeat;background-position: 0 center; -webkit-background-size: 59px 679px; background-size: 59px 67px; width:59px; height:69px;}
.point-display .player-match-option label.default.on { background-image: url('../tourney/images/tournerment/enter/player-match-option_01_on_3x.png');}
.point-display .player-match-option label.draw { background-image: url('../tourney/images/tournerment/enter/player-match-option_02_off_3x.png'); background-repeat: no-repeat;background-position: 0 center; -webkit-background-size: 59px 69px; background-size: 59px 69px; width:59px; height:69px;}
.point-display .player-match-option label.draw.on { background-image: url('../images/tournerment/enter/player-match-option_02_on_3x.png');}
.point-display .player-match-option label.no-attend {
  background-image: url(../tourney/images/tournerment/enter/no_attend_off@3x.png);background-repeat: no-repeat;background-position: 0 center; -webkit-background-size: 59px 69px; background-size: 59px 69px; width:59px; height:69px;}
.point-display .player-match-option label[for*="option-02"] {margin-bottom: 9px;}
.point-display .player-match-option label.no-attend.on {
  background-image: url(../images/tournerment/enter/no_attend_on@3x.png);
}
.point-display .player-match-option input { width:0; height:0; margin-right: 21px; clip: rect(0,0,0,0);}
.point-display .player-match-option span { position:absolute; top:-9999px; left:-9999px; width:0; height:0;}

/* 메인 - 스코어보드 - 경기시간 */
.time-table {margin-left: 15px; margin-top: 13px;}
.time-table dt {margin-bottom: 13px;}
.time-table dd {float: left; margin-bottom: 12px;}
.time-table dd:nth-child(even) {margin-right: 9px;}
dd .time-btn {background: #498eb2;background: -moz-linear-gradient(top, #498eb2 0%, #156892 100%);background: -webkit-linear-gradient(top, #498eb2 0%,#156892 100%);background: linear-gradient(to bottom, #498eb2 0%,#156892 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498eb2', endColorstr='#156892',GradientType=0 ); border: 1px solid #3e89b1; border-radius: 5px; color: #fff; font-size: 22px; font-weight: 900; width: 200px; height: 55px; line-height: 40px;}
dd .time-btn.on {background: #001150; background: -moz-linear-gradient(top, #001150 0%, #004d8f 100%); background: -webkit-linear-gradient(top, #001150 0%,#004d8f 100%); background: linear-gradient(to bottom, #001150 0%,#004d8f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001150', endColorstr='#004d8f',GradientType=0 ); border: 2px solid #b2ccee; line-height:38px;}

/* 메인 -  스코어보드 - 경기 결과 */
.match-result {background-color: #455160; width: 242px; padding:0 15px;}
.match-result h2 {font-family: 'Noto KR Medium'; font-size: 20px; color: #fff;}
.match-result .result-list {background-color: #fff; border-radius: 5px; font-weight: 600; width: auto; height: 305px; padding-top: 17px; padding-left: 13px; margin-bottom: 11px; overflow-y: scroll;}
.match-result li {font-weight: normal; letter-spacing: -0.065em; margin-bottom: 13px;}
.match-result .player-name {font-size: 16px; padding-left: 10px;}
.match-result .score-time, .match-result .player-name, .match-resultscore {font-weight: 600;}
.match-result .skill {font-weight: normal;}
.match-result .mine {color: #2c7edc;}
.match-result .mine-2 {color:#50a1fe;}
.match-result .opponent {color: #ec4700;}
.match-result .opponent-2 {color:#ff9d74;}
.match-result .btn-del {background-color: #aaa; color: #fff; border-radius: 50%; width: 20px; height: 20px; line-height: 1; padding: 3px;}
.btn-del .fa-times:before {position: relative; top: -1px;}

.result-select {padding: 0; margin-bottom: 10px;}
.result-select select { background: #f9f9f9; background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%); background: -webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%); background: linear-gradient(to bottom, #f9f9f9 0%,#efefef 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 ); border: 1px solid #d1d1d1; font-size: 16px; font-weight: 900; width: 202px; height: 27px;}
.result-select li {margin-bottom: 10px;}

/*.save-result .btn-save {background-color: #ff4c00; color: #fff; font-size: 22px; font-weight: 900; border-radius: 5px; width: auto; height: 56px; line-height: 56px; padding: 0;}*/

/* 메인 - 사인 */
.sign-list {background-color: #04101f; width: 806px; height:122px; padding:0 0 0 16px; margin-bottom: 0; padding-top: 10px; padding-bottom: 10px; float: left;}
.inner .sign-list {padding-left: 0; padding-right: 0;}
.sign-list li {float: left;}
.sign-list li span {display: inline-block; font-size: 20px; font-weight: 600; text-align: center; vertical-align: middle; width: 64px;}
.sign-list li span:first-child {background-color: #bbc4cf;}
.sign-list li span:nth-child(2) {background-color: #ececec;}
.sign-list .chief, .sign-list .assistant {position: relative;}
.sign-list .chief { /*background-color: #196b94; padding: 5px; width: 263px;*/}
.sign-list .chief .judge, .sign-list .chief .sign-mark {height: 102px; line-height: 102px;}
/*.sign-list .chief .judge {color: #196b94;}*/
.sign-list .chief .sign-mark, .sign-list .assistant .sign-mark {margin-left: -5px;}
.sign-list .chief .sign-mark {width: 188px;}
.sign-list .chief .btn, .sign-list .assistant .btn {position: absolute; bottom:0px; right: 0; background-color: #354354; color: #fff; font-size: 19px; font-weight: 900; border-radius: 0; width: 120px; height: 35px; line-height: 35px; padding: 0; padding-left: 13px;}
.sign-list .chief .btn .icon, .sign-list .assistant .btn .icon {background-color: #354354; font-size: 24px; font-weight: 200; vertical-align: top; width: 20px; height: 30px;}
.sign-list .assistant .judge, .sign-list .assistant .sign-mark {height: 102px; line-height: 102px;}
.sign-list .assistant .sign-mark {width: 196px;}
.sign-list .chief .accept-end, .sign-list .assistant .accept-end {position: absolute; bottom:0px; right: 0; font-size: 19px; width: 120px; height: 35px; line-height: 35px; color: #de0000;}
.sign-list .chief .accept-end .icon, .sign-list .assistant .accept-end .icon {background: none; display: inline;}


/* arrange */
.main .score-enter {color: #c6d3e6; border: none; width: 100%;}
.main .score-enter .selected-list {border-bottom: 1px solid #04101f;}
.main .score-enter .selected-list p {font-weight: bold; font-size: 16px; color: #fff;}
.main .score-enter .selected-list label {font-weight: bold;}
.main .score-enter .selected-list label span {margin-top: 0;}
.display-board .time-table li {width: 75px; color: #c6d3e6}
.display-board .time-table .set-time li {background-color: #fff; border-radius: 10px; width: 68px; height: 94px; line-height: 94px; margin: 0; font-size: 56px;}
.display-board .time-table .set-time li.divider {font-size: 36px; font-weight: bolder; background-color: transparent; width: auto; height: 55px; line-height: 55px; padding: 0 7px; margin-bottom: 0; margin-top: 15px;}
.display-board .time-table .set-time li:last-child {margin-left: 10px;}
.display-board .injury-mark input {margin-top: 0;}
.injury-mark label.on {background-image: url(../images/tournerment/enter/radio-on.png); background-repeat: no-repeat; -webkit-background-size: 20px 20px; background-size: 20px 20px; padding-bottom: 2px; margin-top: 4px; margin-bottom: 5px;}
.display-board .times .btn {background: #58626f; background: -moz-linear-gradient(top,  #58626f 0%, #29303c 100%); 
background: -webkit-linear-gradient(top,  #58626f 0%,#29303c 100%); background: linear-gradient(to bottom,  #58626f 0%,#29303c 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58626f', endColorstr='#29303c',GradientType=0 ); color: #fff; width: 74px; height: 88px; line-height: 88px; font-size: 30px; padding-top: 0;}
.display-board .times li {margin-right: 9px; margin-bottom: 7px;}
.display-board .times li:nth-child(3n) {margin-right: 0;}
.display-board .times .del-time {width: 157px; font-size: 22px;}
.point-display li {color: #c6d3e6;}
.display-board .point-title {margin-left: 10px;}
.display-board .point-title li {width: 77px; margin: 0;}
.display-board .point-title li:nth-child(4) {width: 160px; padding-top: 0; line-height: 125%;}
.display-board .point-title li:nth-child(5) {width: 88px; margin-right: 0; padding-top: 14px;}
.display-board .player-1-point,
.display-board .player-2-point {padding-left: 16px;}
.point-display .select-win {width: 170px; height: 74px;}
.point-display .select-win.on {background: #ff6e00;
background: -moz-linear-gradient(top,  #ff6e00 0%, #ff2b00 100%); background: -webkit-linear-gradient(top,  #ff6e00 0%,#ff2b00 100%); background: linear-gradient(to bottom,  #ff6e00 0%,#ff2b00 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#ff2b00',GradientType=0 ); border-radius: 5px; border: 2px solid #ffa668; outline: none}
.display-board .result-list .match-title {font-weight: bold;}
.display-board .match-result .result-list li {margin-bottom: 5px;}
.display-board .result-list p {font-size: 16px;}
.display-board .result-list .opponent p {color: #004ed0}
.score-enter-main .skill-group dt {background-color: #eff2f3; font-size: 18px; font-weight: 600; text-align: left; padding-left: 11px; margin-bottom: 15px; padding-top: 0; padding-bottom: 0; border-bottom: none;}
.score-enter-main .skill-group dd {font-size: 16px; text-align: left; letter-spacing: -0.08em; color: #333; border-bottom: none; float: left; width: 150px; padding: 3px 5px;}
.score-enter-main .save-result .btn-save { width:220px; height:52px; line-height:52px; font-family: 'Noto KR Bold'; font-size: 22px;background: #0067d9; border:1px solid #003cc3; /* Old browsers */ background: -moz-linear-gradient(top, #0067d9 0%, #003cc3 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #0067d9 0%,#003cc3 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #0067d9 0%,#003cc3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067d9', endColorstr='#003cc3',GradientType=0 ); /* IE6-9 */ margin-right: 0;}
.score-enter-main .save-result .btn-save-finish {margin-right:0; padding:0; color:#fff; width:220px; height:52px; line-height:52px; font-family: 'Noto KR Bold'; font-size: 22px; background: -moz-linear-gradient(top,  #ff6500 0%, #ff3800 100%); background: -webkit-linear-gradient(top,  #ff6500 0%,#ff3800 100%); background: linear-gradient(to bottom,  #ff6500 0%,#ff3800 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6500', endColorstr='#ff3800',GradientType=0 ); border: 1px solid #ff530d; font-weight: bold;}


/**
 * 단체전 입력화면
 * --------------------------------
 */
.group-enter-main .inner {padding: 0;}
.top-navi-list {text-align:center; color:#333; font-size:18px; font-weight:bold;}
.top-navi-1 {margin:0; padding:0; overflow:hidden; width:100%; height:40px; background:#fff;}
.top-navi-1 > li {font-size: 20px; float:left; /*width:30.5%;*/ width:423px; height:40px; line-height:40px; vertical-align:middle; /*border-bottom:1px solid #b4b4b4;*/ border-right:1px solid #b4b4b4; color: #333;}
.top-navi-1 > li:last-child {border-right:none; width: 424px;}
/*#DP_player-school_Down2 {color: #fff;}  .top-navi-1 > li:last-child 긴급 수정, 추후 변경(통합) 2016.11.23 */
.top-navi-1 > li.top-navi-btn {width:433px;}
.top-navi-1 .btn-enter-player,
.top-navi-1 .btn-add-match {margin-top:6px; padding:0 12px; width:48.5%; height:28px; color:#fff; font-size:18px; vertical-align:top; line-height:23px; font-weight:900; border:1px solid #7f8690;background:#98a1ae; background: -moz-linear-gradient(top,  #98a1ae 0%, #7f8690 100%); background: linear-gradient(to bottom,  #98a1ae 0%,#7f8690 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98a1ae', endColorstr='#7f8690',GradientType=0 );}
.top-navi-1 .btn-enter-player.on,
.top-navi-1 .btn-add-match.on {background:#c64350;border:1px solid #b60509; background:#c64350; background: -moz-linear-gradient(top,  #c64350 0%, #b60509 100%); background: linear-gradient(to bottom,  #c64350 0%,#b60509 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c64350', endColorstr='#b60509',GradientType=0 );}

.top-navi-2 {margin:0; padding:0; width:100%; overflow:hidden; border-bottom:1px solid #b4b4b4; background:#04101f; color:#fff;}
.top-navi-2 > li {float:left; /*width:8%;*/ width:99px; height:39px; line-height:39px; font-size: 18px; font-weight:bold; border-right:1px solid #b4b4b4; color: #fff;}
.top-navi-2 > li.player-name { /*width:9%;*/ width:130px; font-size:18px;}
.top-navi-2 > li:last-child { width:123px; border-right:0;}
.top-navi-2 > li.score-num { /*width:5.5%;*/ width:95px;}
.top-navi-2 > li.btn-score-modify {/*width:39%;*/width:433px;}

/*.list-score-wrap {height:430px;}*/
.list-score-scroll {height:430px; overflow-y:scroll;}
.list-score > ul {margin:0; padding:0; overflow:hidden; width:100%; text-align:center;}
.list-score > ul:nth-of-type(odd) {background-color:#fff;}
.list-score > ul:nth-of-type(even) {background-color:#eee;}
.list-score > ul > li {float:left; /*width:8%;*/ width:99px; height:39px; line-height:39px; font-size:18px; font-weight:bold; color:#333; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
.list-score > ul > li:last-child {border-right:none;}

.list-score > ul > li:first-child {width:130px;}
.list-score > ul > li:nth-child(4) {width: 95px;}
.list-score > ul > li:nth-child(5) {width:137px; font-size:16px;}
.list-score > ul > li:nth-child(6) {width:160px;}
.list-score > ul > li:nth-child(7) {width:135px; font-size:16px;}
.list-score > ul > li:nth-child(8) {width:96px;}
.list-score > ul > li:last-child {width:106px; border-right:0;}

/*
.list-score > ul > li:nth-child(4),
.list-score > ul > li:nth-child(8) {width:5.5%;}
.list-score > ul > li:nth-child(5),
.list-score > ul > li:nth-child(6),
.list-score > ul > li:nth-child(7) {width:13%; font-size:16px;}
*/

.list-score a.btn {height:30px; line-height:30px; vertical-align:top;}
.list-score a.btn-repair {background: #37475a; background: -moz-linear-gradient(top,  #37475a 0%, #62748a 100%); background: -webkit-linear-gradient(top,  #37475a 0%,#62748a 100%); background: linear-gradient(to bottom,  #37475a 0%,#62748a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37475a', endColorstr='#62748a',GradientType=0 ); border: 1px solid #435367;  border-radius: 5px; color: #fff; font-size: 18px;font-weight: 900; width: 147px; height:28px; line-height:23px; margin-top:5px; margin-right: 0; padding:0;}

.score-btm-save {height:133px; color:#ff9600; font-size:18px; font-weight:bold; text-align:center; background:#354354;}
.score-btm-save p {font-size: 18px; font-weight: bold; color: #ff9600; padding:17px 0 0 0; margin-bottom: 10px;}
.score-btm-save .btn-save-btm {height:70px; background: #ff6100; background: -moz-linear-gradient(top,  #ff6100 0%, #ff4c00 100%); background: -webkit-linear-gradient(top,  #ff6100 0%,#ff4c00 100%); background: linear-gradient(to bottom,  #ff6100 0%,#ff4c00 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6100', endColorstr='#ff4c00',GradientType=0 ); border: 1px solid #ff4c00; border-radius: 5px; color: #fff; font-size:26px; font-weight: 900; width: 260px; height:68px; line-height:68px; margin-top:0px; margin-right:10px; padding:0;}
.score-btm-save .btn-cancel-btm {height:70px; background: #7086a2; background: -moz-linear-gradient(top,  #7086a2 0%, #5d718b 100%); background: -webkit-linear-gradient(top,  #7086a2 0%,#5d718b 100%); background: linear-gradient(to bottom,  #7086a2 0%,#5d718b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7086a2', endColorstr='#5d718b',GradientType=0 ); border: 1px solid #5d718b; border-radius: 5px; color: #fff; font-size:26px; font-weight: 900; width:300px; height:68px; line-height:68px; margin-top:0px; margin-right: 0; padding:0;}
.score-btm-save .btn-save-btm.btn-win-default { background: #7086a2; background: -moz-linear-gradient(top,  #7086a2 0%, #5d718b 100%); background: -webkit-linear-gradient(top,  #7086a2 0%,#5d718b 100%); background: linear-gradient(to bottom,  #7086a2 0%,#5d718b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7086a2', endColorstr='#5d718b',GradientType=0 ); border: 1px solid #596d85; }
.score-btm-save .btn-cancel-btm.btn-draw {background: #ff6100; background: -moz-linear-gradient(top,  #ff6100 0%, #ff4c00 100%); background: -webkit-linear-gradient(top,  #ff6100 0%,#ff4c00 100%); background: linear-gradient(to bottom,  #ff6100 0%,#ff4c00 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6100', endColorstr='#ff4c00',GradientType=0 ); border: 1px solid #ff4c00; margin-right: 10px; }
.score-btm-save .btn-win-twin {background: #0067d9; background: -moz-linear-gradient(top,  #0067d9 0%, #0039c1 100%); background: -webkit-linear-gradient(top,  #0067d9 0%,#0039c1 100%); background: linear-gradient(to bottom,  #0067d9 0%,#0039c1 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067d9', endColorstr='#0039c1',GradientType=0 ); border: 1px solid #0042c7; margin-right: 10px;}
.score-btm-save a:last-child {margin-right: 0;}
.score-result-save ul {padding:0; margin:0; overflow:hidden; width:100%; height:46px; line-height:46px; background-color: #354354; /*border-right: 1px solid #b4b4b4; border-bottom: 1px solid #b4b4b4;*/}
.score-result-save ul > li { float:left; text-align:center; font-weight:bold; vertical-align:middle; border-right:1px solid #b4b4b4;}
.score-result-save ul > li:first-child {/*width:17%;*/ width:229px; color:#fff; font-size:22px;}
.score-result-save ul > li:nth-child(2),
.score-result-save ul > li:nth-child(6) {/*width:8%;*/ width:99px; color:#fff; font-size:22px;}
.score-result-save ul > li:nth-child(4) {/*width:39%;*/ width:433px;}
.score-result-save ul > li:nth-child(3),
.score-result-save ul > li:nth-child(5) {/*width:5.5%;*/ width:95px; color:#ffa800; font-size:24px;}
.score-result-save ul > li:last-child { width:218px;  color:#fff; font-size:22px; border-right:none;}

.score-result-save select {width:83px; text-align:center;}
.score-result-save a.btn-save {width:95%; height:35px; font-size:18px; line-height:30px; vertical-align:top; margin-top:7px; margin-right:0;}

.btn-save {background: #ff672e; background: -moz-linear-gradient(top,  #ff672e 0%, #ff4e05 100%); background: -webkit-linear-gradient(top,  #ff672e 0%,#ff4e05 100%); background: linear-gradient(to bottom,  #ff672e 0%,#ff4e05 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff672e', endColorstr='#ff4e05',GradientType=0 ); border: 1px solid #ff530d; font-size: 16px; font-weight: 900; width: 412px; height: 35px;}
a.btn-save {color: #fff;}
a.btn-save:active {background: linear-gradient(to bottom,  #ff672e 0%,#ff4e05 100%); color: #fff;}

/**
 * 모달 - 텍스트와 하단 버튼
 * --------------------------------
 */
.modal-small { /*width:402px;*/}
.modal-txt-wrap {padding:45px 0; color:#333; font-size:24px; font-weight:bold; text-align:center;}
.modal-txt {padding:0 0 24px 0; line-height:1.5;}
.btn-modal-yes,
.btn-modal-yes:active,
.btn-modal-close,
.btn-modal-close:active {background: #ff8600; background: -moz-linear-gradient(top,  #ff8600 0%, #ff5100 100%); background: -webkit-linear-gradient(top,  #ff8600 0%,#ff5100 100%); background: linear-gradient(to bottom,  #ff8600 0%,#ff5100 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8600', endColorstr='#ff5100',GradientType=0 ); border: 1px solid #ff6e08;  border-radius: 5px; color:#fff !important; font-size: 20px;font-weight: 900; width: 165px; height:40px; line-height:38px; margin-top:0px; margin-right: 0; padding:0;}
.btn-modal-no,
.btn-modal-no:active {background: #93999f; background: -moz-linear-gradient(top,  #93999f 0%, #5d636b 100%); background: -webkit-linear-gradient(top,  #93999f 0%,#5d636b 100%); background: linear-gradient(to bottom,  #93999f 0%,#5d636b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93999f', endColorstr='#5d636b',GradientType=0 ); border: 1px solid #666c74;  border-radius: 5px; color:#fff !important; font-size: 20px;font-weight: 900; width: 165px; height:40px; line-height:38px; margin-top:0px; margin-right: 0; padding:0;}
.btn-modal-reset,
.btn-modal-reset:active {background: #4d5c6c; /* Old browsers */ background: -moz-linear-gradient(top, #4d5c6c 0%, #25313f 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #4d5c6c 0%,#25313f 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #4d5c6c 0%,#25313f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5c6c', endColorstr='#25313f',GradientType=0 ); /* IE6-9 */ border: 1px solid #25313f;  border-radius: 5px; color:#fff !important; font-size: 20px;font-weight: 900; width: 165px; height:40px; line-height:38px; margin-top:0px; margin-right: 0; padding:0;}
/* 2016-11-02 add */
.bg-black { height:100%; padding:0 0 15px; background:#04101f;}
.inner { padding:15px;}
.top-navi-1 li:last-child { background:#004ed0; color: #fff;}
.list-score a.btn-repair-write {
  color: #fff; font-size: 18px;font-weight: 900; width: 147px; height:28px; line-height:23px; margin-top:5px; margin-right: 0; padding:0;
  background: #3a7cdf; /* Old browsers */
  background: -moz-linear-gradient(top, #3a7cdf 0%, #0956d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3a7cdf 0%,#0956d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3a7cdf 0%,#0956d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a7cdf', endColorstr='#0956d3',GradientType=0 ); /* IE6-9 */
}
.list-score a.btn-repair-write i.fa {vertical-align: middle; font-size: 26px;}
.list-score a.btn-repair i.fa {vertical-align: middle;font-size: 26px;}

.group-enter-main .sign-list {width: 100%; padding-left: 10px; padding-right: 10px;}
.group-enter-main .sign-list .sign-mark {width: 355px;}