.modal.taking_over .modal-content {width: 565px;}
.modal.taking_over .table_section h3 {text-indent: 20px;border-bottom: 2px solid #666;padding-bottom: 15px;margin-left: 0;}
.modal.taking_over .table_section h3:before {top: 3px;left: 0;}
.modal.taking_over .table_section h3:after {bottom: 16px;left: 7px;}

.modal.taking_over .modal-body {padding-left: 17px;padding-right: 17px;}
.modal.taking_over .search_area {margin-top: 20px;margin-bottom: 20px;}
.modal.taking_over .search_area .ipt {font-size: 13px;width: 445px;height: 34px;line-height: 34px;}
.modal.taking_over .search_area .btn {border-radius: 0;background-color: #303944;width: 75px;height: 34px;line-height: 34px;padding: 0;margin-left: 4px;}
.modal.taking_over .result_table td input {width: 20px;height: 20px;}
.modal.taking_over .result_table tbody .name {display: inline-block;vertical-align: middle;width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.modal.taking_over .modal-body > .btn_list {text-align: center;padding-top: 10px;}
.modal.taking_over .modal-body > .btn_list .btn {font-family: 'NanumGothicB';font-size: 14px;width: 150px;height: 43px;line-height: 43px;margin-bottom: 30px;}