/* company 회사정보 */
.side {background:#edf0f4; font-size: .85em; /*height: 100%;*/ padding-bottom:50px;}
.group {background:#edf0f4;}

.box-list {font-family:'NotoKR-dl'; font-size:1.05em; letter-spacing:-0.2px; background:#fff; border-radius:5px; margin:20px; padding-bottom:10px; box-shadow:0px 2px 3px #dbdbdb;}
.box-list .tit-widline {font-family:'NotoKR-md'; color:#333;}
.box-list .tit-sd {font-family:'NotoKR-md'; color:#333;}
.box-list ul {padding:4px 10px 10px 10px; color:#999; font-size: 0.85em; margin-left:10px;}
.box-list ul li strong {color:#000; text-decoration:underline;}
/*.box-list ul li span {text-decoration:underline;}*/
.box-list ul.sd li {padding:0 0 0 10px; line-height: 1.6em; color:#999; font-size:1.02em;}
.box-list ul.sd li a {display: inline-block;}
.box-list ul.widline {position: relative; margin-left:10px;}
.box-list ul.widline li {font-family:'NotoKR-dl'; letter-spacing:-0.5px; padding-left: 10px; line-height: 1.6em; font-size:1.02em;}
.box-list ul.widline li:last-child{position: relative; background:none; text-align:right; padding-left: 0;}
.box-list ul.widline li:last-child .daum-map.dropdown-menu {width: 100%; border: none; -webkit-box-shadow: none; box-shadow: none;}
.box-list ul.widline .active-btn {position: relative; background-image: none; text-align: right; height: 0px;padding-left: 0;}
/*.box-list ul.widline .active-btn a {position: absolute; top: -30px; right: 10px;}*/
.box-list ul.widline li:last-child a {margin-top: 8px;}
.box-list ul.widline li.address {position: relative;}
.btn-map-widline {font-family:'NotoKR-md'; display:inline-block; /*position: absolute; top: 0; right: 5px;*/ color: #005895; font-size: 12px; transition: all .3s ease; margin-left:5px;}
.btn-map-widline.on {font-family:'NotoKR-md'; color:#d4908c; font-size: 12px;}
/* .btn-map-widline span{position:absolute; top:-9999px; left:-9999px;} */

/* faq 자주하는 질문 */
.txt-side {padding-bottom:10px; line-height: 1.4em;}
.top-faq > ul { padding-left: 6px; text-indent:-6px; }
.top-list.top-faq {background-size: 87px 67px; padding: 15px 15px 15px; font-family: 'NotoKR-dl'; font-size:0.95em; letter-spacing:-0.5px;}
.top-list { text-indent: 0;}
.side .ic-caret {display: inline-block; border-radius: 50%; border: 2px solid #ddd; width: 20px; height: 20px; line-height: 15px; text-align: center;}

.side .panel {box-shadow:none;}
.side [class*="col"] {float:none;}

.side .panel {border:0; border-bottom:1px solid #d4d4d4;}
/*.side .panel-group .panel+.panel {margin-top:0;}*/
.side .panel .panel-heading {overflow:hidden; padding:0; margin:0; background-image:none;}

.side .panel-title {font-size:0.95em; font-family:"NanumGothicB"; line-height:1.5em; padding: 8px 2%;}
.side .panel-title a {overflow:hidden; width:100%; display:block; margin:0; padding:8px 2%;}
.side .panel-title .panel-ic-q {float:left; color:#666; display:inline-block; width:26px; height:26px; text-align:center; color:#123651; background:#fff; border:2px solid #123651; border-radius:50%; line-height:22px; font-family:'NotoKR-md';}
.side .panel-title .panel-txt-q {float:left; width:82%; padding:4px 0 0 1.5%; display:inline-block;}

.side .panel-title .ic-caret {float:right; width:26px; height:26px; line-height:23px; color:#d4d4d4; text-align:center; background:#fff;}
.side .panel-title .caret{margin:0; border-top: 5px solid; border-right: 5px solid transparent; border-left: 5px solid transparent; transition: all .3s ease;}
.side .panel-title .on .caret {transform: rotate(180deg);}
.side .panel-title.on .caret {transform: rotate(180deg);}

.side .panel-body {padding:2%; margin:0; color:#fff; font-size:0.95em; font-family:"NanumGothic"; line-height:1.5em; background-color:#005895;}
.side .panel-body .panel-ic-a {float:left; display:inline-block; width:26px; height:26px; padding:0; margin:0; text-align:center; color:#fff; border:2px solid #123651; background:#123651; border-radius:50%;}
.side .panel-body .panel-txt-a {float:left; width:90%; padding-left:1%; font-family: 'NotoKR-dl';}

@media screen and (min-width:400px){
	.side .panel-title .panel-txt-q {width:86%;}
	.side .panel-body .panel-txt-a {width:93%;}
}
@media screen and (min-width:640px){
	.side .panel-title .panel-txt-q {width:91%;}
	.side .panel-body .panel-txt-a {width:95%;}
}

/* info-handle */
.info-handle .box-list .tit-widline {background:none; background-position:10px 50%; background-color:#123651; background-size:20px 24px;}
.info-handle .box-list ul {line-height:20px; font-size:0.9em;}
.info-handle .box-list ul:nth-child(2) {margin:0;}
.info-handle .box-list ul {margin:20px 0;}
.info-handle .box-list ul.widline li {padding-left: 15px; line-height: 1.8em; font-size:1.08em;}
.info-handle .box-list ul.widline li:last-child {background-repeat:no-repeat; background-position: 0 9px; -webkit-background-size: 5px 5px;
background-size: 5px 5px; position: relative; text-align:left;}
.info-handle .box-list ul li strong {font-size:1.125em; color:#333; text-decoration:none;}
.info-handle h3 {color:#206aa2;}
.info-handle .info-widline {font-size:1.05em; line-height:20px; margin-top:-20px;}
.info-handle .box-list .tit-widline {padding-left:13px;}
.info-handle h3 {margin-bottom:5px;}
.info-handle .btn-back {width:50%; margin:0 auto; padding: 8px 0; font-size: 0.9em; color:#3f505d; font-family:"NanumGothicB"; text-align:center; border-radius:3px; border:1px solid #3f505d; background:#fff;}

/*
.faq li div.q {overflow:hidden; width:100%; padding:10px 2%; border-bottom:1px solid #d4d4d4; /* display:flex; align-items: center; justify-content: center; }
.faq li div.a {overflow:hidden; width:100%; padding:10px 2%; border-bottom:1px solid #d4d4d4; color:#fff; background:#909ba4; display:flex; /* align-items: center;  justify-content: center; }
.faq li div.a p:nth-child(2) {width:100%;}
.faq li:nth-child(odd) {background:#fff;}
.faq li:nth-child(even) {background:#edf0f4;}
.faq li p:nth-child(1) { float:left; /* width:15%; text-align:center;}
.faq li p:nth-child(2) { float:left; width:66%; padding:0 2%; font-size:0.95em; line-height: 1.3em;}
.faq li p:nth-child(3) { float:right; width:15%; text-align:center;}
.faq .icon-q {display:inline-block;padding: 0px 5px;color:#123651;background: #fff;font-size: 18px;border:2px solid #123651;border-radius:50%;font-family: 'nanumGothicB';}
.faq .icon-a {display:inline-block;padding: 0px 5px;color:#fff;font-size: 18px;border:3px solid #123651;border-radius:50%;background:#123651;font-family: 'nanumGothicB';}
.faq .more-a,
.faq .close-a {padding:5px 8px; color:#d4d4d4; font-size:18px; line-height:18px; border:2px solid #d4d4d4; border-radius:50%; text-align:center; background:#fff;}
*/

/* access : 이용약관 */
.access {padding:10px; background:#fff;}
.access h2 {font-family:'NotoKR-md'; font-size:0.86em; color:#333; margin-top:10px;}
.access pre {font-family:'NotoKR-dl'; font-size:0.75em; color:#999; background:none; border:none; white-space:pre-line; letter-spacing:-0.2px; margin-bottom:0px;}
.access .sub_title {font-size:0.85em; font-family:'NotoKR-md'; color:#333; margin-top:10px; padding-left:10px;}
.access .article {font-size:1.1em; color:#333; margin-bottom:-10px;}




