<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

		<httpErrors errorMode="Detailed">
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>