.admin_content .list_btn{margin-top:20px;display:table;width:100%;text-align:right;}
.admin_content .list_btn a{width:100px;font-weight:600;font-size:13px;height:35px;line-height:35px;margin-left:5px;text-align:center;font-weight:bold;color:#fff;display:inline-block;}
.admin_content .list_btn a.pink_btn{background:#dc2116;}
.admin_content .list_btn a.blue_btn{background:#637AA1;}
.admin_content .more_btn{margin-top:20px;}
.admin_content .more_btn a{background:#e1e7f0;color:#333;font-size:14px;padding:10px;text-align:center;display:block;}