.admin_content .table_list{display:table;width:100%;margin-top:10px;}
.admin_content .table_list table{width:100%;border-left:1px solid #ccc;border-top:1px solid #ccc;}
.admin_content .table_list table tr th{height:40px;line-height:40px;font-weight:600;background:#3f4953;color:#fff;font-size:17px;border-right:1px solid #ccc;border-bottom:3px solid #ff4c00;}
.admin_content .table_list table tr td{height:40px;line-height:40px;text-align:center;border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-size:15px;}
.admin_content .table_list table tr td .red_font{color:#ff4c00;font-weight:bold;}
.admin_content .table_list table tr td.name{text-align:left;padding:0 10px;}
.admin_content .table_list table tr td.g_btn a{font-size:13px;padding:0 10px;height:32px;line-height:32px;text-align:center;color:#fff;font-weight:bold;background:#2f9b9c;display:inline-block;}
.admin_content .table_list table tr td.green_btn1 a{background:#637AA1;}
.admin_content .table_list table tr td.green_btn2 a{background:#637AA1;}
.admin_content .table_list table tr:nth-child(2n) td{background:#f7f9fb;}