.setup-header h3 {    font-family: 'NanumGothicB';font-size: 20px; text-align: center;background-color: #0f335b;color: #fff;padding: 15px;}

.setup-body .top-ctr {text-align: center;background-color: #eff2f6; border: 1px solid #ced5e3;}
.setup-body .sel-ctr {width: 400px;height: 35px;}
.setup-body .top-ctr .stair {border-top: 1px solid #ced5e3;padding-top: 15px;padding-bottom: 15px;}
.setup-body .top-ctr .stair > * {display: inline-block;vertical-align: middle;margin-left: 6px;}
.setup-body .top-ctr .stair > *:first-child {margin-left: 0;}
.setup-body .top-ctr .stair .stadium-list select {width: 280px;height: 36px;}
.setup-body .top-ctr .stair .btn {font-size: 14px;height: 35px;line-height: 35px;margin-top: 0;margin-bottom: 0;padding: 0;}

.setup-body .content-wrap {padding: 15px;}
.table-arr thead th,
.table-arr tbody th,
.table-fix-head th {font-family: 'NanumGothicB';font-size: 13px;text-align: center;background-color: #e1e7f0;}
.content-wrap .table-arr th {border-right: 1px solid #ced5e3;}
.table-arr thead th:last-child {border-right: none;}
.content-wrap .table-arr  tbody td {vertical-align: middle;}
.table-fix-head {margin: 0;}
.table-fix-body td {text-align: center;}

/* 세로로 나누는 경우 */
.setup-body .divn-hori > div {display: inline-block;vertical-align: top;width: 49.6%}
.setup-body .content-wrap .remote-arr {margin-right: 4px;}