<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed">
            <error statusCode="500" subStatusCode="100" path="/500-100.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".hwp" mimeType="application/x-hwp" />
        </staticContent>
    </system.webServer>
</configuration>
