.basic-write table{width:100%;border-top:1px solid #ddd;border-right:1px solid #ddd;}
.basic-write table tr th{    width: 13%;
    padding: 15px 10px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-size: 0.9em;
    font-family: 'NotoKR-md';
    font-weight: 400;}
.basic-write table tr td{    padding: 10px 10px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 37%;
    color: #888;
    font-size: 0.9em;}
.basic-write table tr td .in-style-1{width:500px;}
.basic-write table tr td input, .basic-write table tr td select, .basic-write table tr td a{margin-right:10px;float:left;}
.basic-write table tr td a.view-btn{padding:0 15px;height:40px;line-height:40px;}
.basic-write table tr td a.icon-btn{font-size:28px;line-height:40px;}
.basic-write table tr td a.icon-btn i{color:#7a858e;}
.basic-write table tr td iframe{width:300px;}
.basic-write table tr td .in-file{width:auto;border:0;line-height:40px;}
.basic-write table tr td .admin-title{font-family: 'NotoKR-md';color:#333;margin-top:20px;}
.basic-write table tr td .admin-title:nth-child(1){margin-top:10px;}
.basic-write table tr td .label-box{padding:15px;border:1px solid #e0e4ec;margin:10px 0;}
.basic-write table tr td .label-box label{margin-right:15px;margin-bottom:0;}
.basic-write table tr td .label-box label input{margin-right:0;}
.basic-write table tr td .label-box label span{vertical-align: -2px;margin-left:2px;}