.player_video_write .box-shadow{padding:30px;}
.player_video_write .bt-btn-box{float:right;}
.player_video_write .bt-btn-box a{height:40px;line-height:38px;width:100px;float:left;margin-right:5px;}
.player_video_write .bt-btn-box a.blue-btn{line-height:40px;}