/* 생활체육 지도자 */
/*.sub.join .warn-bd {font-size: 0.84em; background-color: #f03735; color: #fff; margin-left: -10px; margin-right: -10px; padding: 10px; line-height: 1.5em;}*/
.sub.join .warn-bd {font-size: 0.84em; color: #f03735; margin-left: -10px; margin-right: -10px; padding: 10px 10px 0; line-height: 1.5em;}

.join-end.type-2 {padding-top: 40px;}
.join-end.type-2 .join-logo {padding-bottom: 30px;}
.join-end.type-2 .welcome-msg-2 {margin-bottom: 20px;}
.join-end.type-2 .welcome-guide .txt {font-family: 'NanumGothicB'; font-size: .78em; line-height: 150%; text-align: center; color: #666;}
.join-end.type-2 .welcome-guide > .txt {margin-bottom: 20px;}
.join-end.type-2 .welcome-guide .guide-box {border: 3px solid #92adc4; margin-bottom: 13px;}
.join-end.type-2 .welcome-guide .guide-box,
.join-end.type-2 .welcome-guide .guide-list {margin-left: 10px; margin-right: 10px;}
.join-end.type-2 .welcome-guide .guide-box h2 {text-align: center; background-color: #3e6a8f; color: #fff; letter-spacing: -0.055em;}
.join-end.type-2 .welcome-guide .guide-box p {font-size: 0.98em; text-align: center; letter-spacing: -0.05em; background-color: #fff; color: #666; padding-top: 10px; padding-bottom: 10px;}
.join-end.type-2 .welcome-guide .guide-box .ic-deco {font-size: 1.125em; color: #f00}
.join-end.type-2 .welcome-guide .guide-box p span {vertical-align: middle;}

.join-end.type-2 .welcome-guide .guide-box:nth-child(3) {background-color: #fff;}
.join-end.type-2 .welcome-guide .guide-box:nth-child(3) h2 {margin-bottom: 12px;}
.join-end.type-2 .welcome-guide .guide-box:nth-child(3) dl {margin-bottom: 5px; padding: 0px 12px;}
.join-end.type-2 .welcome-guide .guide-box:nth-child(3) dt {background-color: #3e6a8f; color: #fff; text-align: center; width: 38%; border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
.join-end.type-2 .welcome-guide .guide-box:nth-child(3) dd { background-color: #dae6f0; width: 60%; margin-left: -4px; padding-left: 7px; border-top-right-radius: 30px; border-bottom-right-radius: 30px;}
.join-end.type-2 .welcome-guide .guide-box:nth-child(3) dt,
.join-end.type-2 .welcome-guide .guide-box:nth-child(3) dd {display: inline-block; font-family: 'NanumGothicB'; font-size: 0.82em; padding-top: 6px; padding-bottom: 6px;}
.join-end.type-2 .welcome-guide .guide-box p {font-weight: bold; font-size: 1.0125em;}
.join-end.type-2 .welcome-guide .guide-box p span {vertical-align: middle;}
.join-end.type-2 .welcome-guide .guide-box p span.ic-deco {color: #bf0000;}
.join-end.type-2 .welcome-guide .guide-box p span.redy {vertical-align: top; color: #bf0000;}
.join-end.type-2 .welcome-guide .guide-box p.em-txt {font-size: 0.76em; letter-spacing: -0.115em;}
.join-end.type-2 .welcome-guide.welcome-player .em-txt {line-height: 150%; padding-top: 8px; padding-bottom: 8px;}
.join-end.type-2 .welcome-player .offer-day {margin-left: 10px; margin-right: 10px; margin-bottom: 10px;}
.join-end.type-2 .welcome-player .offer-day dl {margin-bottom: 5px;}
.join-end.type-2 .welcome-player .offer-day dt,
.join-end.type-2 .welcome-player .offer-day dd {display: inline-block; vertical-align: middle; font-size: 0.76em; font-weight: bold; padding-top: 6px; padding-bottom: 6px;}
.join-end.type-2 .welcome-player .offer-day dt {background-color: #3e6a8f; color: #fff; text-align: center; width: 42%; border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
.join-end.type-2 .welcome-player .offer-day dd {background-color: #fff; width: 56%; padding-left: 7px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; margin-left: -4px;}

.join-end.type-2 .welcome-guide .guide-list {font-family: 'NanumGothicB'; font-size: 0.84em; background-color: #b0c7db; color: #333; border: 3px solid #d7ecff;}
.join-end.type-2 .welcome-guide .guide-list .num {display: inline-block; border: 1px solid #545b62; border-radius: 50%; font-size: 0.72em; text-align: center; text-indent: 0; width: 15px; height: 15px; line-height: 13px;}
.join-end.type-2 .welcome-guide .guide-list li {font-size: 0.92em; text-indent: -17px; line-height: 150%; border-bottom: 3px solid #d7ecff; padding-left: 25px; padding-top: 7px; padding-bottom: 7px;}
.join-end.type-2 .welcome-guide .guide-list li:last-child {border-bottom: none;}
.join-end.type-2 .welcome-guide .besting {font-size: 0.76em; text-align: center; line-height: 150%; color: #333; margin-top: 20px; margin-bottom: 30px;}
.join-end.type-2 .btn-solo a {background-color: #072a47; border: 1px solid #4e7089;}
/*.join-end.type-2 .welcome-guide */

/**
 * S: 엘리트 - 지도자 
 */
.input-list.player-id-num {font-size: 0.86em;text-align: center; border: 1px solid #b4b4b4; margin-top: 15px;}
.input-list.player-id-num li {border-bottom: 1px solid #b4b4b4;}
.input-list.player-id-num li:last-child {border-bottom: none;}
.input-list.player-id-num li p {float: left; border-right: 1px solid #b4b4b4; padding: 5px 0px;}
.input-list.player-id-num li .tit {width: 30%; padding-left: 2px; padding-bottom: 5px; background-color: #eee;}
.input-list.player-id-num li .cont {text-align: left; width: 65%; color: #333; border-right: none; padding-left: 5px; padding-right: 5px;}

.comp-guide {font-size: 0.8em;line-height: 150%;margin-top: 10px;}
/* E: 엘리트 - 지도자 */


/**
 * S: 통합아이디 선택 
 */
.id_sel .total_guide {border-bottom: 1px dashed #bbb;}
.id_sel .top_section {margin-bottom: 20px;}
/*.id_sel .top_section p {width: 230px;margin: 0 auto;}*/
.id_sel .list-group {border: none;-webkit-box-shadow: none; box-shadow: none;}
.id_sel .list-group .chk_radio {/*max-height: 155px; overflow-y: scroll;*/padding-left: 10px;padding-right: 10px;}
.id_sel .list-group li {font-size: 0.92em;letter-spacing: -0.075em;border-bottom: 1px solid #bbb;padding-bottom: 10px;margin-top: 20px;}
.id_sel .list-group li .txt {padding-left: 12px;}
.id_sel .list-group li .using {font-family:'NotoKR-dl'; font-weight:normal; font-size: 0.86em;padding-left: 12px;}
.id_sel .list-group li svg {top: 4px; left: 5px; right: auto;}
.id_sel .req {font-family:'NotoKR-dl'; font-size: 0.82em; font-weight:normal; letter-spacing: -0.075em; margin-left: 15px;padding-top: 10px;padding-bottom: 40px;}
.id_sel .req label {padding-left: 25px;}
.id_sel .req svg {left: 0; right: auto;}
/* E: 통합아이디 선택 */

/**
 * S: 회원구분 정보 
 */
.user_divn {margin-top: 40px;padding-left: 20px;padding-right: 20px;padding-bottom: 0;}
.user_divn .input-list li {border-bottom: 1px solid #bbb;width: 100%;margin-top: 10px;}
.user_divn .input-list label {width: 100%;margin-bottom: 0;}
.user_divn .input-list p {font-family: 'NotoKR-dl';font-size: 0.88em;font-weight: bold; letter-spacing: -0.075em; padding-bottom: 10px;}
.user_divn .input-list input {border: none;}
.user_divn .input-list .input-control {font-family: 'NotoKR';font-weight: normal;padding-top: 6px;padding-left: 5px;}
.user_divn .input-list .input-control#UserName {color:#333;}
.user_divn .input-list li.team_choice {font-family:'NotoKR-md'; font-size:0.85em; padding-top:20px; border-bottom:1px solid #005895; color:#005895; padding-bottom:5px;}
.user_divn .input-list .text-warning {display: none; color: #df0000; padding-left: 10px;}
/* E: 회원구분 정보 */

/**
 * S: 회원구분 정보 안내 텍스트  
 */
.user_agree_info {padding-bottom: 60px;}
.user_agree_info.parents {padding-bottom: 60px;}
.user_agree_info .guide_txt {background-color: #f2f2f2; /*max-width: 500px;*/ padding: 20px 30px; margin: 0 auto; margin-top: 30px; /*margin-left: -20px;margin-right: -20px;*/ margin-bottom: 40px;}
.user_agree_info .guide_txt li {position: relative;font-family: 'NotoKR-dl'; font-size: 0.75em; line-height: 140%; color: #999; border-bottom: none; margin-bottom: 10px;}
.user_agree_info .guide_txt li:last-child {margin-bottom: 0;}
.user_agree_info .guide_txt li:before {position: absolute;top: 6px;left: -10px;content: '';width: 3px;height: 3px;background-color: #999;border-radius: 50%;}
.user_agree_info .guide_txt p {font-weight: normal;letter-spacing: -0.11em;}
.user_agree_info .guide_txt u {color: #005895;}
.user_agree_info.parents .guide_txt {max-width: 100%;margin-top: 0;}

/* 코치, 지도자 */
.user_divn select {font-size: 0.88em; letter-spacing: -0.075em; border: none; color: #999; /*padding-left: 10px;*/}
.user_divn .input-list {position:relative;}
.user_divn .input-list .sel_box {padding-bottom: 10px;}
.user_divn .sel_box:after {top: 33%;border-top: 6px solid #bbb;}
.user_divn .input-list .txt_guide p {font-family: 'NotoKR-dl';font-size: 0.81em;font-weight: normal;line-height: 150%;letter-spacing: -0.1em;color: #005895;}
.user_divn .input-list label input {font-family: 'NotoKR-dl'; font-size: 0.88em;font-weight: normal;letter-spacing: -0.1em;color: #999;padding-left: 0px;padding-top: 6px;padding-bottom: 10px;}
.user_divn .input-list label input:focus {outline: none;}
.user_divn .input-list  ::-webkit-input-placeholder {font-size: .96em;color: #999;}
.user_divn .input-list  ::-moz-placeholder {font-size: .96em;color: #999;}
.user_divn .input-list  :-ms-input-placeholder {font-size: .96em;color: #999;}
.user_divn .input-list  :-moz-placeholder {font-size: .96em;color: #999;}

/* 부모, 보호자 */
.user_divn.parents .child_info {margin-top: 25px;}
.user_divn.parents .child_info h2 {font-family: 'NotoKR';font-size: 0.88em;font-weight: normal;letter-spacing: -0.05em;color: #005895;}
.user_divn.parents .child_info .info_list {border: 1px solid #005895;margin-top: 10px;}
.user_divn.parents .child_info .info_list li {padding-bottom: 1px;}
.user_divn.parents .child_info .info_list li:last-child {padding-bottom: 0;}
.user_divn.parents .child_info .info_list input {font-size: 0.88em;border-radius: 0;border: none;width: 100%;padding-left: 10px;padding-bottom: 10px;}
.user_divn.parents .child_info .info_list input:hover,
.user_divn.parents .child_info .info_list input:focus,
.user_divn.parents .child_info .info_list input:active {outline: none;}
.user_divn.parents .child_info .info_list .sel_box {padding-bottom: 0;}
.user_divn.parents .child_info .info_list .phone_line {line-height: 100%;margin-top: 0;}
.user_divn.parents .child_info .info_list .phone_line select {border-radius: 0;color: #333;height: 40px;line-height: 40px;}

.user_divn.parents .check_agree {text-align: center;width: 100%;margin-top: 35px;margin-bottom: 5px;}
.user_divn.parents .check_agree .txt {font-size: 0.81em;letter-spacing: -0.075em;color: #666;margin-right: 7px;}
.user_divn.parents .check_agree svg {top: 3px; left: auto; right: -4px;}
/*.user_divn.parents .guide_txt li {margin-bottom: 0;}*/

/* 자녀선수 정보 확인 */
.child_form .input-list li {padding-bottom: 10px;}
.child_form .input-list li span {display: inline-block;vertical-align: middle;font-family: 'NotoKR-dl';font-size: 0.86em;letter-spacing: -0.075em;}
.child_form .input-list .tit {color: #999;width: 27%;}
.child_form .input-list .txt {font-size: .88em;font-weight: 600;color: #333;width: 70%;}